
<html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>
    
    <body>
        <div>
            <h2>To Do App</h2>
        </div>
        <!-- Form Container For 1st Form  -->
        <form action="/add-task" method="POST">
            <div>
                <label for="description">Description</label>
                <input id="description" type="text" name="description" placeholder="what do you need to do" required>
                <label for="category">Category</label>
                <select name="category" id="category">
                    <option value="personal">Personal</option>
                    <option value="work">Work</option>
                    <option value="school">School</option>
                    <option value="cleanig">Cleaning</option>
                    <option value="other">Other</option>
                </select>
                <label for="date">Date</label>
                <input type="date" name="duedate" required>
            </div>

            <!-- Add Task Buttom -->
            
            <button type="submit">
                <i class="far fa-plus-square"></i>
                Add Task</button>
            
         </form>
         <!-- Form Container For 2nd Form-->
         <form action="/delete-task" method="POST">
            <button type="submit">
                <i class="fas fa-trash-alt"></i>
                Delete Tasks
            </button>
            <div>
                <ul>
               <% for(task of tasks){%>
                    <li>
                        <label for="task">
                            <input id="task" type="checkbox" name="task" value=<%= task.id %>>
                           <p><%= task.description %></p>
                        </label>

                        <div>
                            <%= task.category %>
                        </div>
                        <!-- For Icon and calender -->  
                        <div>
                            <i class="far fa-calendar-alt"></i>
                            <%= task.duedate %>

                        </div>
                       
                    </li>
               <%}%>
                </ul>
            </div>

         </form>
        <script src="https://kit.fontawesome.com/c90807128e.js" crossorigin="anonymous"></script>
     </body>
</html>